@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

:root {
  --basic-black:#000000; /* black text color */
  --basic-bronzegrey:#333333; /* paragraph text color */
  --basic-white:#ffffff; /* white text and bg color */

  --basic-grey:#f2f2f2; /* main bg color*/
  --basic-brown: #766357; /* legend in popap*/
  --basic-blue: #81b3d2; /*button color*/
  --basic-darkbrown: #766357; /*visited color*/
  --basic-darkgrey: rgba(0, 0, 0, 0.3); /*sort items*/
  --basic-lightgrey: #e5e5e5; /*borders in results hotels*/
  --basic-hightlight: 2px solid darkblue; /*outline color*/
  --basic-mediumgrey: #f1f1f1; /*feature minor*/
  --basic-transwhite: rgba(255, 255, 255, 0.9); /*main footer*/
  --basic-darkblue: #669ec0; /*hover on primary/social btn*/
  --basic-blackblue: #5496bd; /*active on primary/social btn*/
  --basic-blackgrey: #bdbbbc; /*active on academy btn*/
  --basic-greyicon: #cacaca; /*up-down sort buttons*/
  --bacic-doublegrey: #818181; /*plus minus btns in booking booking-form*/
  --basic-range-scale: rgba(255, 255, 255, 0.3); /*Scale of filter-cost form*/
  --basic-purebrown: #604e43; /*hover on booking btn on result article*/
  --basic-blackbrown: #503e33; /*active on booking btn on result article*/
  --basic-darkgreylight: #a9a9a9; /*plus and minus in booking form*/
  --basic-darkwhite: #ebebeb; /*hover in booking form*/
  --basic-background-color: #6996cb; /*when bg picture is'n load*/
  --basic-darkdarkgrey: #6a6a6a; /*disabled chexbox text in filter-hotels*/

}

/* * * global * * */
html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--basic-grey);
  font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * * *** main page styles * * *** */
/* * * main header * * */
.header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.nav__item {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  text-align: center;
}

.nav__item--margin {
  margin-right: 23%;
}

/* Состояния ссылок в шапке */
/* Покой */
.header__link {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}
/* Наведение */
.header__link:hover {
  transition: color 0.3s;
  color: var(--basic-blue);
}

/* Нажатие */
.header__link:active {
  transition: color 0.3s;
  color: var(--basic-black);
  opacity: 0.3;
}
/* Активный */
.header__link--active {
  color: var(--basic-darkbrown);
}

/* * * greeting section * * */
.greeting__photo {
  min-height: 507px;
  background-image:
    url("../img/welcome.png"),
    url("../img/shape.png"),
    url("../img/background-photo.jpg");
  background-size:
    458px 352px,
    1200px 57px,
    1200px 507px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    center,
    bottom,
    top;
    background-color: var(--basic-background-color);
}

.greeting {
  padding-top: 44px;
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting__text {
  width: 490px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-bronzegrey);
}

.greeting__text b {
  display: block;
  margin-bottom: 44px;
  font-size: 21px;
  text-align: center;
  color: var(--basic-black);
}

/* * * feature section * * */
.features {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.feature {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-top: 46px;
  padding-bottom: 53px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-bronzegrey);
  background-color: var(--basic-mediumgrey);
}

.feature__title {
  width: 39%;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black)
}

.feature__number {
  margin-bottom: 26px;
}

.feature__text {
  margin: 0;
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
}

.feature__text--secondary {
  padding-left: 17%;
  padding-right: 17%;
}

.feature--accent {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature--accent h2 {
  color: var(--basic-white);
}

.feature__photo {
  grid-column: span 2;
  min-height: 256px;
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature__photo--square {
  background-image: url("../img/sedona-central-square.jpg");
}

.feature__photo--bridge {
  background-image: url("../img/evils-bridge.jpg");
}

.feature--icon {
  background-color: var(--basic-white);
  padding-top: 57px;
  padding-bottom: 78px;
}

.feature__icon {
  margin: 0;
  margin-bottom: 25px;
}

.adventage__title {
  margin: 0;
  margin-bottom: 26px;
}

.adventage__text {
  margin: 0;
  padding-left: 14%;
  padding-right: 14%;
}

.feature__text--width {
  padding-left: 10%;
  padding-right: 10%;
}

/* * * booking section * * */
.booking {
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.booking__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.booking__text {
  margin: 0;
  margin-bottom: 43px;
  color: var(--basic-bronzegrey);
}

.booking__btn {
  min-width: 568px;
  min-height: 85px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  cursor: pointer;
}

.booking__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-purebrown);
}

.booking__btn:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-blackbrown);
  color: var(--bacic-doublegrey);
}

/* Booking form */
.booking-form {
  position: absolute;
  width: 458px;
  padding: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 103000;
  animation: bounce 1s;
}

.booking-form--hide {
  display: none;
}

.form {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  margin-bottom: 18px;
}

.form-row {
  position: relative;
  display: flex;
  align-items: baseline;
}

.form__label {
  width: 37%;
  text-align: left;
}

.form__input {
  width: 100%;
  border: none;
  margin-bottom: 28px;
  padding-left: 7px;
  padding-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 38px;
  background-color: var(--basic-grey);
}

.form__input:hover {
  background-color: var(--basic-darkwhite);
}

.form__input:focus {
  background-color: var(--basic-white);
}

.form__input::placeholder {
  color: var(--basic-black);
}

.form__btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

.form-column {
  width: 50%;
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
}

.number {
  display: flex;
  margin-left: 26px;
}

.form__label--center {
  text-align: center;
  padding-left: 49px;
}

.number__input {
  width: 38px;
  height: 36px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: var(--basic-grey);
}

.number__btn {
  width: 40px;
  height: 36px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: var(--basic-grey);
  cursor: pointer;
}

.form__icon {
  vertical-align: middle;
  fill: var(--basic-darkgreylight);
}

.form__icon:hover {
  transition: fill 0.3s;
  fill: var(--basic-black);
}
.form__icon:active {
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

.booking-form__btn {
  min-width: 458px;
  min-height: 58px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color:var(--basic-blue);
  color: var(--basic-white);
  cursor: pointer;
}

.booking-form__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.booking-form__btn:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-darkblue);
  color: var(--basic-blue);
}

/* * * footer section * * */
.footer {
  position: relative;
}

.footer--with-map {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--basic-transwhite);
  z-index: 1000;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: var(--basic-transwhite);
}

.footer__map {
  min-width: 100%;
  height: 593px;
  background-color: var(--basic-grey);
  /* Static map */
  background-image: url("../img/sedona-map.jpg");
  background-size: 1200px 593px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__frame {
  border: 0;
}

.footer__contacts {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-left: 105px;
  padding-right: 33px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.social {
  grid-column: span 1;
}

.footer-copyright {
  grid-column: span 1;
}

.footer__hashtag {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.footer__tel {
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.social__list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 5px;
  padding-top: 40px;
}

.social__item {
  font-weight: bold;
  list-style-type: none;
}

.social__btn {
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.social__btn:active {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.social__btn:active path {
  transition: background-color 0.3s;
  fill-opacity: 0.3;
  background-color: var(--basic-darkblue);
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 32px;
}

.footer__text {
  margin-right: 8px;
  text-transform: uppercase;
}

.footer__btn {
  padding-right: 75px;
}

.footer__btn:hover path{
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

.footer__btn:active path{
  fill: var(--basic-blackgrey);
}

/* * * *** hotels page styles * * *** */
/* * * filter section * * */
.filter-form {
  display: flex;
  min-height: 217px;
  padding-left: 73px;
  padding-right: 73px;
  font-size: inherit;
  color: var(--basic-white);
  background-image: url("../img/hotels-background.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;
}

.filter-column {
  margin: 0;
  margin-right: 119px;
  margin-top: 25px;
  border: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
}

.filter__title {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.filter__item {
  margin-bottom: 26px;
  line-height: 21px;
}

.filter__text {
  position: relative;
  display: block;
  padding-left: 38px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter__text::before {
  background: url("../img/checkbox-off.svg") no-repeat;
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0px;
  left: 0px;
}

.filter__checkbox:checked + .filter__text::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__checkbox:disabled + .filter__text::before {
  background: url("../img/checkbox-off-disable.svg") no-repeat;
}

.filter__checkbox:disabled.filter__checkbox:checked + .filter__text::before {
  background: url("../img/checkbox-on-disable.svg") no-repeat;
}

.filter__checkbox:disabled + .filter__text {
  color: var(--basic-darkdarkgrey);
}

.filter-column--right {
  margin-right: 0;
  margin-left: auto;
}


.cost__title {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}


.cost-controls {
  position: relative;
  height: 32px;
  min-width: 314px;
  margin-bottom: 9px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.cost__label {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  line-height: 33px;
  text-transform: uppercase;
  padding-left: 59px;
}

.cost__label--stick::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--basic-white);
}

.cost__value {
  width: 50px;
  background: none;
  border: none;
  color: inherit;
  margin: 0px;
}

.range-filter {
  padding-top: 11px;
  position: relative;
}

.range-controls {
  height: 36px;
  padding-left: 1px;
  padding-right: 1px;
}

.range__scale {
  height: 2px;
  background: var(--basic-range-scale);
}

.range__bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range__toggle {
  position: absolute;
  width: 23px;
  height: 24px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  top: 2px;
  cursor: pointer;
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  left: 80%;
}

.range__toggle:hover {
  background-image: url("../img/filter-button-hover.svg");
  background-repeat: no-repeat;
  transform: translateX(-10%);
}

.filter-form__btn {
  min-width: 137px;
  min-height: 36px;
  margin-left: 86px;
  background: transparent;
  border-radius: 2px;
  border: 2px solid var(--basic-white);
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.filter-form__btn:hover {
  transition: color 0.3s;
  transition: background-color 0.3s;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* ****************** sort section ****************** */
.sort {
  display: flex;
  align-items: baseline;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 28px;
  padding-bottom: 31px;
  font-family: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid var(--basic-lightgrey);
}

.sort__title {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-right: 46px;
}

.sort__text {
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
}

.sort__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sort__item {
  list-style: none;
  margin: 0;
  margin-right: 32px;
  font-size: 12px;
}

/* Состояния ссылок в секции сортировки */
/* Покой */
.sort__link {
  color: var(--basic-darkgrey);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-blue);
}

/* Наведение */
.sort__link:hover {
  transition: color 0.3s;
  color: var(--basic-blue);
}

/* Активный */
.sort__link:active {
  transition: color 0.3s;
  color: var(--basic-black);
  border: none;
}

.sort__item--active {
  transition: color 0.3s;
  color: var(--basic-blue);
  border: none;
}

.sort-btns__wrapper {
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
  top: 40px;
  right: 73px;
  font-size: 0;
  line-height: 10px;
}

.sort__btn {
  padding: 0;
  margin-right: 12px;
  background-color: initial;
  border: 0px;
}

/* Состояния кнопок в секции сортировки */
/* Наведение */
.sort__btn:hover path {
  transition: fill 0.3s;
  fill: var(--basic-black);
}

/* Нажатие */
.sort__btn:active path {
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

.sort__btn--active {
  margin-right: 0;
}
/* Активный */
.sort__btn--active path{
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

/* ****************** result section ****************** */

.hotel {
  display: flex;
  padding-top: 28px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--basic-lightgrey);
}

.hotel__photo {
  margin-right: 29px;
}

.hotel-wrapper {
  display: flex;
  flex-direction: column;
}

.hotel__title {
  margin: 0px;
  line-height: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.hotel__title-link {
  text-decoration: none;
  color: inherit;
}

.hotel__title-link:hover {
  transition: color 0.3s;
  color: var(--basic-blue);
}

.hotel__title-link:active {
  transition: color 0.3s;
  color: var(--basic-darkgrey);
}

.hotel__row {
  display: flex;
}

.hotel__column {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.hotel__column:last-child {
  margin-right: 0;
}

.hotel__text {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-transform: uppercase;
}

.hotel__link {
  display: block;
  padding: 3px 17px 3px 16px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
}

.hotel__link--secondary {
  background-color: var(--basic-blue);
}

.hotel__link--secondary:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.hotel__link--secondary:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-darkblue);
  color: var(--basic-blue);
}

.hotel__link--primary {
  background-color: var(--basic-darkbrown);
}

.hotel__link--primary:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-purebrown);
}

.hotel__link--primary:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-blackbrown);
  color: var(--bacic-doublegrey);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.hotel__text-rating {
  margin: 0;
  margin-top: 36px;
  background-color: var(--basic-grey);
  padding: 3px 0;
  padding-left: 15px;
  padding-right: 12px;
  text-transform: uppercase;
}

.stars__list {
  padding-left: 0;
  margin: 0;
}

.stars__item {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

/* Animations */

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateX(-2000%)
}

40% {
    opacity: 0.3;
    transform: translateX(-30%)
}

80% {
    opacity: .7;
    transform: translateX(-60%)
}

100% {
    opacity: 1;
    transform: translateX(-50%)
  }
}
