@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

:root {
  --basic-black:#000000; /* black text color */
  --basic-bronzegrey:#333333; /* paragraph text color */
  --basic-white:#ffffff; /* white text and bg color */

  --basic-grey:#f2f2f2; /* main bg color*/
  --basic-brown: #766357; /* legend in popap*/
  --basic-blue: #81b3d2; /*button color*/
  --basic-darkbrown: #766357; /*visited color*/
  --basic-darkgrey: rgba(0, 0, 0, 0.3); /*sort items*/
  --basic-lightgrey: #e5e5e5; /*borders in results hotels*/
  --basic-hightlight: 2px solid darkblue; /*outline color*/
  --basic-mediumgrey: #f1f1f1; /*feature minor*/
  --basic-transwhite: rgba(255, 255, 255, 0.9); /*main footer*/
  --basic-darkblue: #669ec0; /*hover on primary/social btn*/
  --basic-blackblue: #5496bd; /*active on primary/social btn*/
  --basic-blackgrey: #bdbbbc; /*active on academy btn*/
  --basic-greyicon: #cacaca; /*up-down sort buttons*/
  --bacic-doublegrey: #818181; /*plus minus btns in booking booking-form*/
  --basic-range-scale: rgba(255, 255, 255, 0.3); /*Scale of filter-cost form*/
  --basic-purebrown: #604e43; /*hover on booking btn on result article*/
  --basic-blackbrown: #503e33; /*active on booking btn on result article*/
}

/* * * global * * */
html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--basic-grey);
  font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
}

/* Grid */
.page-grid {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * * *** main page styles * * *** */
/* * * main header * * */
.header {
  position: relative;
  grid-column: 1 / -1;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 73px;
  padding-right: 73px;
}

.header__items {
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
}

.header__items--left {
  text-align: left;
}

.header__items--right {
  text-align: right;
}
/* Состояния ссылок в шапке */
/* Покой */
.header__link {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}
/* Наведение */
.header__link:hover {
  transition: color 0.3s;
  color: var(--basic-blue);
}

/* Нажатие */
.header__link:active {
  transition: color 0.3s;
  color: var(--basic-black);
  opacity: 0.3;
}
/* Активный */
.header__link--active {
  color: var(--basic-darkbrown);
}

/* * * greeting section * * */
.main {
  grid-column: 1/ -1;
}
.greeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting__bg {
  width: 100%;
  min-height: 507px;
  background-image:
    url("../img/welcome.png"),
    url("../img/shape.png"),
    url("../img/background-photo.jpg");
  background-size:
    458px 352px,
    1200px 57px,
    1200px 507px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    center,
    bottom,
    top;
  }

.greeting__text {
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-bronzegrey);
}

.greeting__text--accent {
  width: 470px;
  padding-top: 42px;
  padding-bottom: 28px;
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: var(--basic-black);
}

/* * * feature section * * */
.features {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 256px 330px 256px 256px;
}

.feature {
  grid-column: span 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-top: 39px;
  padding-bottom: 36px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-mediumgrey);
}

.feature--blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature__title {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: bold;
}

.feature__text {
  margin: 0;
  padding-top: 23px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 54px;
}

.feature__photo {
  grid-column: span 2;
  width: 100%;
  min-height: 256px;
}

.feature__photo--sedona-center {
  background-image: url("../img/sedona-central-square.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature__photo--evils-bridge {
  background-image: url("../img/evils-bridge.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: center;
}

.adventage {
  grid-column: span 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-top: 57px;
  padding-bottom: 80px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.adventage__icon {
  margin: 0;
  margin-bottom: 26px;
}

.adventage__title {
  margin: 0;
  margin-bottom: 26px;
}

.adventage__text {
  margin: 0;
  padding-left: 58px;
  padding-right: 55px;
}

/* * * booking section * * */
.booking {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.booking__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  margin-bottom: 30px;
}

.booking__text {
  margin: 0;
  margin-bottom: 30px;
  color: var(--basic-bronzegrey);
}

.booking__btn {
  min-width: 568px;
  min-height: 85px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.booking__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-purebrown);
}

.booking__btn:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-blackbrown);
  color: var(--bacic-doublegrey);
}

/* Booking form */
.booking-form {
  position: absolute;
  width: 458px;
  padding: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 103000;
}

.booking-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.booking-form-date {
  position: relative;
  display: flex;
  align-items: baseline;
}

.booking-form-date__desc {
  width: 37%;
  text-align: left;
}

.booking-form-date__input {
  width: 100%;
  border: none;
  margin-bottom: 29px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
  min-height: 38px;
  background-color: var(--basic-grey);
}

.booking-form-date__btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  padding: 0;
  background-color: inherit;
}

.booking-form-date__calendar {
  fill: var(--basic-greyicon)
}

.booking-form-age {
  display: flex;
  margin-bottom: 40px;
}

.booking-form-age-adult,
.booking-form-age-child {
  width: 50%;
  display: flex;
  align-items: baseline;
}

.booking-form-age__desc {
  width: 50%;
  text-align: left;
}

.booking-form-age__desc--center {
  text-align: center;
  padding-left: 20px;
}

.booking-form-age-input {
  width: 50%;
  display: flex;
}

.booking-form-age-input__number {
  width: 38px;
  height: 36px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: var(--basic-grey);
}

.booking-form-age-input__btn {
  width: 40px;
  height: 36px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: var(--basic-grey);
}

.booking-form-age-input__minus,
.booking-form-age-input__plus {
  vertical-align: middle;
  fill: var(--bacic-doublegrey);
}

.form__btn {
  min-width: 458px;
  min-height: 58px;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color:var(--basic-blue);
  color: var(--basic-white);
}

.form__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.form__btn:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-darkblue);
  color: var(--basic-blue);
}

/* * * footer section * * */
.footer {
  grid-column: 1 / -1;
  position: relative;
}

.footer--with-map {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--basic-transwhite);
  z-index: 1000;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: var(--basic-transwhite);


}

.footer-map {
  min-width: 100%;
  height: 593px;
  background-color: var(--basic-grey);
  /* Static map */
  background-image: url("../img/sedona-map.jpg");
  background-size: 1200px 593px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-social {
  grid-column: span 1;
}

.footer-copyright {
  grid-column: span 1;
}

.footer-contacts__hashtag {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.footer-contacts__tel {
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 36px;
}

.footer-social__item {
  font-weight: bold;
  list-style-type: none;
}

.footer-social__btn {
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
  color: inherit;
}

.footer-social__btn:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.footer-social__btn:active {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.footer-social__btn:active path {
  transition: background-color 0.3s;
  fill-opacity: 0.3;
  background-color: var(--basic-darkblue);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 41px;
}

.footer-copyright__by {
  margin-right: 8px;
  text-transform: uppercase;
}

.footer-copyright__btn:hover path{
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

.footer-copyright__btn:active path{
  fill: var(--basic-blackgrey);
}




/* * * *** hotels page styles * * *** */
.hotel-main {
  display: grid;
  grid-template-columns: 400px 400px 400px;

}


/* * * filter section * * */

.filter-form {
  grid-column: 1 / -1;
  display: flex;
  min-height: 217px;
  padding-left: 73px;
  padding-right: 73px;
  font-size: inherit;
  color: var(--basic-white);
  background-image: url("../img/hotels-background.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;
}

.filter-form-fields {
  margin: 0;
  margin-right: 140px;
  border: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
}

.filter-form-title {
  padding-top: 30px;
  margin-bottom: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-form-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.filter-form-item {
  margin-bottom: 23px;
  line-height: 21px;
}

.filter-form__text {
  position: relative;
  display: block;
  padding-left: 38px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-form__text::before {
  background: url("../img/checkbox-off.svg") no-repeat;
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0px;
  left: 0px;
}

.filter-form__checkbox:checked + .filter-form__text::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-form-cost {
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  margin-top: 26px;
}

.filter-form-cost__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}


.price-controls {
  position: relative;
  height: 32px;
  min-width: 314px;
  margin-bottom: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price__label {
  display: inline-block;
  width: 90px;
  line-height: 32px;
  text-transform: uppercase;
  padding-left: 60px;
}

.price__label--stick::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--basic-white);
}

.price__value {
  width: 50px;
  background: none;
  border: none;
  color: inherit;
  margin: 0px;
}

.range-filter {
  padding-top: 11px;
  position: relative;
}

.range-controls {
  height: 32px;
  padding-left: 1px;
  padding-right: 1px;
}

.controls__scale {
  height: 2px;
  background: var(--basic-range-scale);
}

.controls__bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.controls__toggle {
  position: absolute;
  width: 23px;
  height: 24px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  top: 2px;
  cursor: pointer;
}

.controls__toggle--min {
  left: 0;
}

.controls__toggle--max {
  left: 80%;
}

.controls__toggle:hover {
  background-image: url("../img/filter-button-hover.svg");
  background-repeat: no-repeat;
  transform: translateX(-10%);
}

.filter-form__btn {
  min-width: 132px;
  min-height: 32px;
  margin-left: 87px;
  background: transparent;
  border-radius: 2px;
  border: 2px solid var(--basic-white);
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.filter-form__btn:hover {
  transition: color 0.3s;
  transition: background-color 0.3s;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* ****************** sort section ****************** */
.sort {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--basic-lightgrey);
}

.sort__title {
  font-size: 21px;
  font-weight: bold;
  padding-top: 29px;
  margin: 0;
  margin-right: 46px;
  margin-bottom: 31px;
}

.sort__text {
  margin: 0px;
  margin-right: 40px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sort__item {
  list-style: none;
  margin: 0;
  margin-right: 32px;
}

/* Состояния ссылок в секции сортировки */
/* Покой */
.sort__link {
  color: var(--basic-darkgrey);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-blue);
}

/* Наведение */
.sort__link:hover {
  transition: color 0.3s;
  color: var(--basic-blue);
}

/* Активный */
.sort__link:active {
  transition: color 0.3s;
  color: var(--basic-black);
  border: none;
}

.sort__item--active {
  transition: color 0.3s;
  color: var(--basic-blue);
  border: none;
}

.sort-btns {
  margin-left: auto;
  display: inline-block;
  top: 40px;
  right: 73px;
  font-size: 0;
  line-height: 10px;
}

.sort__btn {
  padding: 0;
  margin-right: 12px;
  background-color: initial;
  border: 0px;
}

/* Состояния кнопок в секции сортировки */
/* Наведение */
.sort__btn:hover path {
  transition: fill 0.3s;
  fill: var(--basic-black);
}

/* Нажатие */
.sort__btn:active path {
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

/* Активный */
.sort__btn--active path{
  transition: fill 0.3s;
  fill: var(--basic-blue);
}

/* ****************** result section ****************** */

.result {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid var(--basic-lightgrey);
}

.hotel-img {
  margin-right: 29px;
}

.hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hotel__title {
  margin: 0px;
  margin-bottom: 7px;
  padding-top: 23px;
  text-transform: uppercase;
}

.hotel-about-wrap {
  display: flex;
}

.hotel-about {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.hotel-about__text,
.hotel-cost__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-transform: uppercase;
}

.hotel-about__details,
.hotel-cost__booking {
  display: block;
  padding: 3px 16px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
}

.hotel-cost {
  display: flex;
  flex-direction: column;
}

.hotel-about__details--bg {
  background-color: var(--basic-blue);
}

.hotel-about__details--bg:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-darkblue);
}

.hotel-about__details--bg:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-darkblue);
  color: var(--basic-blue);
}

.hotel-cost__booking--bg {
  background-color: var(--basic-darkbrown);
}

.hotel-cost__booking--bg:hover {
  transition: background-color 0.3s;
  background-color: var(--basic-purebrown);
}

.hotel-cost__booking--bg:active {
  transition: background-color 0.3s, color 0.2s;
  background-color: var(--basic-blackbrown);
  color: var(--bacic-doublegrey);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.hotel__rating {
  margin: 0;
  margin-top: 45px;
  background-color: var(--basic-grey);
  padding: 3px 0;
  padding-left: 15px;
  padding-right: 12px;
  text-transform: uppercase;
}
