@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

:root {
  --basic-black:#000000; /* black text color */
  --basic-bronzegrey:#333333; /* paragraph text color */
  --basic-white:#ffffff; /* white text and bg color */

  --basic-grey:#f2f2f2; /* main bg color*/
  --basic-brown: #766357; /* legend in popap*/
  --basic-blue: #81b3d2; /*button color*/
  --basic-darkbrown: #766357; /*visited color*/
  --basic-darkgrey: rgba(0, 0, 0, 0.3); /*sort items*/
  --basic-lightgrey: #e5e5e5; /*borders in results hotels*/
  --basic-hightlight: 2px solid darkblue; /*outline color*/
  --basic-mediumgrey: #f1f1f1; /*feature minor*/
  --basic-transwhite: rgba(255, 255, 255, 0.9); /*main footer*/
  --basic-darkblue: #669ec0; /*hover on primary/social btn*/
  --basic-blackblue: #5496bd; /*active on primary/social btn*/
  --basic-blackgrey: #bdbbbc; /*active on academy btn*/
  --basic-greyicon: #cacaca; /*up-down sort buttons*/

}

/* ****************** global ****************** */
html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--basic-grey);
  font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  /* grid */
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ********************* main page styles ********************* */
/* ****************** main header ****************** */
/* ВОПРОСЫ:
1. Какому элементу шапки лучше задавать min-height? (header, nav, или ul)
2. Лого необходимо позиционировать абсолютно? можно дать маргин минус половина картинки?
3. При увеличении маштаба ползет навигация (фото и видео подлазиет под лого.
*/
.main-navigation {
  min-height: 57px;
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;

}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 57px;
  align-items: center;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-list li {
  width: 25%;
  list-style-type: none;
}

.nav-item-first,
.nav-item-second {
  text-align: left;
}

.nav-item-third,
.nav-item-fourth {
  text-align: right;
}
/* Состояния ссылок в шапке */
/* Покой */
.nav-list a {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}
/* Наведение */
.nav-list a:hover {
  color: var(--basic-blue);
}

/* Нажатие */
.nav-list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* Активный */
.active-item a{
  color: var(--basic-darkbrown);
}
/* ****************** greeting section ****************** */
/* ВОПРОСЫ:
1. Для .greeting-accent можно задать ширину параграфа или ужать контент паддингами/маргинами?
2. А вообще законно задавать width в процекнтах с точкой?
3. Нужны ли здесь флексы??

*/
.main-greeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-greeting-background {
  width: 100%;
  min-height: 507px;
  background-image:
  url("../img/welcome.png"),
  url("../img/shape.png"),
  url("../img/background-photo.jpg");
  background-size:
  458px 352px,
  1200px 57px,
  1200px 507px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
  center,
  bottom,
  top;
}

.main-greeting p {
  width: 100%;
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-bronzegrey);
}

.main-greeting .greeting-accent {
  /* width: 470px; или 470/1200=39,16%  */
  width: 39.16%;
  padding-top: 60px;
  padding-bottom: 28px;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

/* ****************** advantege section ****************** */
/* ВОПРОСЫ:
1. Как правильно центрировать текст в параграфах? в плане задается ширина в процентах или паддинги?
2. Читал что маргины лучше ставить с низу и справа? Нужно ли придерживаться этого метода? иногда для того чтобы задать маргин
снизу нужно добавть класс к параграфу например, либо можно сделать марген вверх и обойтись без доп класса.
*/
/* Feature major block */
.feature-major {
  /* Flex container */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.feature-content {
  min-width: 400px;
  min-height: 100%;
  /* Flex container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;


  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-content h2 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.feature-content p {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.feature-photo {
  width: 100%;
  min-height: 256px;
  background-image: url("../img/sedona-central-square.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Recommendation block */
.features-recommend {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.features-recommend div {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-recommend h3 {
  font-size: 21px;
  font-weight: bold;
  padding-left: 25%;
  padding-right: 25%;
  margin: 0;
  margin-bottom: 25px;
}

.features-recommend p {
  padding-left: 12%;
  padding-right: 12%;
  margin: 0;
}

.features-recommend .recommend-img {
  margin-bottom: 25px;
}

/* Second feature block */
.second-feature {
  flex-direction: row-reverse;
}


/* Feature minor block*/
.feature-minor {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  background-color: var(--basic-mediumgrey);
}

.feature-minor div {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.feature-minor h2 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  margin: 0;
  margin-bottom: 25px;
}

.feature-minor p {
  padding-left: 17%;
  padding-right: 17%;
  margin: 0;
}

.feature-minor .minor-number {
  margin-bottom: 25px;
}

.feature-minor .tourist-item {
  padding-left: 18%;
  padding-right: 18%;
}

/* ****************** booking section ****************** */
/* ВОПРОСЫ:
1. в параграфе первая строка короче второй, разбить на два параграфа? добавить спан? бр?
*/
.main-booking-wrapper {
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.main-booking-wrapper h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.main-booking-wrapper p {
  color: var(--basic-bronzegrey);
  margin: 0;
}

.main-booking .booking-item {
  margin: 0;
  margin-bottom: 30px;
}

.main-booking-wrapper .btn-secondary {
  min-width: 568px;
  min-height: 85px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

/* Map */
.booking-map {
  min-width: 100%;
  min-height: 593px;
  background-color: var(--basic-grey);
}

/* Попап */
.main-booking-form {
  min-width: 568px;
  min-height: 395px;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.main-booking-form fieldset {
  border: 0 none;
  font-weight: bold;
}

.main-booking-form input[placeholder] {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: bold;
}

.main-booking-form .button-primery {
  min-width: 458px;
  min-height: 58px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  background-color:var(--basic-blue);
  color: var(--basic-white);
}

/* ****************** footer section ****************** */
/*footer global*/
.main-footer {
  position: absolute;
  width: 100%;
  top: 2625px;
  display: flex;
  flex-direction: row;
  min-height: 120px;
  background-color: var(--basic-transwhite);
}

.main-footer div {
  min-width: 400px;
}

/*footer contacts*/
.footer-contacts {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-contacts span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/*footer social*/
.footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0px;
  padding-top: 36px;
}

.footer-social li {
  font-weight: bold;
  list-style-type: none;
}

.social-btn {
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-btn:hover {
  background-color: var(--basic-darkblue);
}

.social-btn:active {
  background-color: var(--basic-darkblue);
}

.social-btn:active path {
  fill-opacity: 0.3;
  background-color: var(--basic-darkblue);
}

/*footer copyright*/
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 41px;
}

.copyright-text {
  margin-right: 8px;
  text-transform: uppercase;
}

.academy-btn:hover path{
  fill: var(--basic-blue);
}

.academy-btn:active path{
  fill: var(--basic-blackgrey);
}

/* ********************* hotels page styles ********************* */
/* ****************** filter section ****************** */
/* ВОПРОСЫ:
1. Как задать положение кнопок сортировки? отступом/задать абсолютное позиционирование?/добавить обертку с флекс-эндом?
*/

.main-filter {
  width: 100%;
  display: flex;
  min-height: 217px;
  font-size: inherit;
  color: var(--basic-white);
  background-image: url("../img/hotels-background.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;
}

.filter-infrastr {
  display: flex;
  flex-direction: column;
}

.filter-housetype {
  display: flex;
  flex-direction: column;
}

.filter-cost {
  display: flex;
  flex-direction: column;
}

.main-filter legend {
  font-weight: bold;
}

.main-filter fieldset,
.main-filter .filter-cost input {
  border: 0px;
}

.main-filter button {
  font-size: inherit;
  color: var(--basic-white);
  min-width: 132px;
  min-height: 32px;
  border: 2px solid var(--basic-white);
  background-color: initial;
  text-transform: uppercase;
}

.main-filter button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* ****************** sort section ****************** */
.main-sort {
  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--basic-lightgrey);
}
.main-sort h2 {
  font-size: 21px;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 73px;
  margin: 0;
  margin-right: 46px;
  margin-bottom: 31px;
}

.main-sort p {
  margin: 0px;
  margin-right: 40px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sort-list li {
  list-style: none;
  margin: 0;
  margin-right: 32px;
}

.sort-up-down {
  position: absolute;
  display: inline-block;
  top: 40px;
  right: 73px;
  font-size: 0;
  line-height: 10px;
}

.btn-up,
.btn-down {
  padding: 0;
  margin-right: 12px;
  background-color: initial;
  border: 0px;
}

/* Состояния ссылок в секции сортировки */
/* Покой */
.sort-list li a {
  color: var(--basic-darkgrey);
  text-decoration: none;
  border-bottom: 1px dashed var(--basic-blue);
}

/* Наведение */
.sort-list a:hover,
.sort-list a:active {
  color: var(--basic-blue);
}

/* Активный */
.sort-list .active-item a {
  color: var(--basic-blue);
  border: 0;
}

/* Состояния кнопок в секции сортировки */
/* Наведение */
.btn-up:hover path,
.btn-down:hover path {
  fill: var(--basic-black);
}

/* Нажатие */
.btn-up:active path,
.btn-down:active path {
  fill: var(--basic-blue);
}
/* Активный */
.btn-active path{
  fill: var(--basic-blue);
}

/* ****************** result section ****************** */
.main-results {
  display: flex;
  flex-direction: column;
}

.results-hotel {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--basic-lightgrey);
}

.hotel-photo-wraper {
  padding-left: 73px;
  margin-right: 29px;
}

.hotel-about {
  display: flex;
  flex-direction: column;
  margin-right: 522px;
}

.hotel-about h2 {
  margin: 0px;
  margin-bottom: 7px;
  padding-top: 23px;
  text-transform: uppercase;
}

.hotel-about p {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-transform: uppercase;
}

.hotel-about a {
  display: block;
  padding: 3px 16px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
}

.about-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 6px;
}

.about-cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 6px;
}

.about-wrapper {
  display: flex;
  text-align: center;
  text-transform: uppercase;
}

.about-details {
  background-color: var(--basic-blue);
}

.about-booking {
  background-color: var(--basic-darkbrown);
}

.hotel-class-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel-stars {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 10px;
}

.hotel-stars li {
  display: inline-block;
  margin: 0;
  padding-right: 6px;
  line-height: 10px;
}

.hotel-stars li:last-of-type {
  padding-right: 0;
}

.hotel-class-wrapper p {
  margin: 0;
  margin-top: 45px;
  background-color: var(--basic-grey);
  padding: 3px 0;
  padding-left: 15px;
  padding-right: 12px;
  text-transform: uppercase;
}
